@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Work Sans';
    background-color: var(--color2);
}
:root{
    --h1:700;
    --h2:600;
    --h3:400;

    --color1:hsl(0, 100%, 100%);
    --color2:hsl(275, 100%, 97%);
    --color3:hsl(292, 16%, 49%);
    --color4:hsl(292, 42%, 14%);
}

@media screen and (max-width:909px) {
.containerHero {
  background-color: var(--color1);
  width: 700px;
}
.txt{
    font-size: 1.1rem;
    font-weight: var(--h3);
    color: var(--color3);
    border-bottom: 1px solid rgba(255, 192, 203, 0.154);
    display:none;
    max-width: 90%;
    padding-bottom: 1rem;

}


}
@media screen and (max-width:710px) {
.containerHero {
  background-color: var(--color1);
  width: 600px;
  
}
.txt{
    font-size: 1rem;
    font-weight: var(--h3);
    color: var(--color3);
    border-bottom: 1px solid rgba(255, 192, 203, 0.154);
    display:none;
    max-width: 90%;
    padding-bottom: 0;

}
.wallpaper{
    background-image: url(faq-accordion-main/assets/images/background-pattern-mobile.svg);
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

}
@media screen and (max-width:615px) {
.containerHero {
  background-color: var(--color1);
  width: 500px;
}
.subTittle {
  font-size: 1.3rem;
  font-weight: var(--h2);
  color: var(--color4);
  padding: 20px 0;
  max-width: 100%;
}
.txt{
  padding-bottom: 5px;
}
}
@media screen and (max-width:581px) {
.containerHero {
  background-color: var(--color1);
  width: 400px;
}
  .subTittle {
    font-size: 1.1rem;
    font-weight: var(--h2);
    color: var(--color4);
    padding: 20px 0;
    max-width: 100%;
  }
    .txt {
    font-size: 0.9rem;
    font-weight: var(--h3);
    color: var(--color3);
    border-bottom: 1px solid rgba(255, 192, 203, 0.154);
    display: none;
    max-width: 100%;
    padding-bottom: 0;
  }


section {
  margin-top: 5rem;
}
}
@media screen and (max-width:405px) {
  .headline{
    padding: 0;
    display: flex;
    align-items: center;
    gap: 10px;
  }

    .containerHero {
    background-color: var(--color1);
    width: 300px;
  }
  .star {
  width: 30px;
  height: 40px;
  }
  h1 {
  color: var(--color4);
  font-weight: var(--h1);
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
}
  .subTittle {
    font-size: 1rem;
    font-weight: var(--h2);
    color: var(--color4);
    padding: 15px 0;
    max-width: 100%;
  }
    .txt {
    font-size: 0.8rem;
    font-weight: var(--h3);
    color: var(--color3);
    border-bottom: 1px solid rgba(255, 192, 203, 0.154);
    display: none;
    max-width: 100%;
    font-weight: 500;
    
  }
  

}
