@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Work Sans';
    background-color: var(--color2);
}
:root{
    --h1:700;
    --h2:600;
    --h3:400;

    --color1:hsl(0, 100%, 100%);
    --color2:hsl(275, 100%, 97%);
    --color3:hsl(292, 16%, 49%);
    --color4:hsl(292, 42%, 14%);
}
.wallpaper{
    background-image: url(faq-accordion-main/assets/images/background-pattern-desktop.svg);
    height: 280px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    margin-top: 10rem;
}
.container{
    background-color: var(--color1);
    width: 800px;
    height: 700px;
    border-radius: 3%;
    top: 180px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}
.headline{
    display: flex;
    padding: 0 0 30px 30px;
}
h1{
    color: var(--color4);
    font-weight: var(--h1);
    font-size: 3rem;
    display: flex;
    justify-content: center;
}
.star{
    width: 38px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerHero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0 30px ;
    height: 500px;
    gap: 2rem;
}
.subTittle{
    font-size: 1.5rem;
    font-weight: var(--h2);
    color: var(--color4);
    padding: 10px 0;
    max-width: 100%;
}
.content{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.btnContents{
    display: flex;
}
.txt{
    font-size: 1rem;
    font-weight: var(--h3);
    color: var(--color3);
    border-bottom: 1px solid rgba(255, 192, 203, 0.154);
    display:none;
    max-width: 90%;
}

.subTittle:hover{
    color: var(--color3);
    cursor: pointer;
}
.btn{
    cursor: pointer;
    width: 30px;
    height: 30px;
    
}